.upload-container {
  max-width: 600px;
  margin: 0 auto;
}

.upload-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.upload-header h2 {
  font-size: 2rem;
  margin-right: 1rem;
  color: #b7ba15;
}

.upload-icon {
  width: 50px;
  height: 50px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1111/1111571.png');
  background-size: contain;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.upload-form label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.upload-form input[type="text"],
.upload-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #570b0b;
}

.upload-form input[type="file"] {
  margin-top: 0.5rem;
}

.upload-form button[type="submit"] {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: hsl(54, 85%, 43%);
  color: #b7ba15;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.upload-form button[type="submit"]:hover {
  background-color: #ff0042;
}

.upload-progress {
  width: 100%;
  height: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.upload-progress-filled {
  height: 100%;
  border-radius: 5px;
  background-color: #cc1034;
  transition: width 0.3s ease-in-out;
}
