.videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.vid-head {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.vid-li {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
  padding: 0;
}

.vid-list {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.vid-list:hover {
  transform: translateY(-5px);
}

.video-thumbnail {
  position: relative;
}

.video-thumbnail video {
  width: 100%;
  height: auto;
  display: block;
}

.video-details {
  padding: 1rem;
}

.video-details h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.video-username {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.video-description {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

button {
  background-color: #f94144;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #ff5055;
}

.text-danger {
  color: #dc3545;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
