.form {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: yellow;
  background-color:rgba(0, 0, 0, 0.9)
}
.auth-form-container, .login-form, .register-form, .passwordreset-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 27, 27);
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

.label {
  text-align: left;
  padding: 0.25rem 0;
  background-color: rgb(27, 26, 26);
}

.input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.login {
  border: none;
  background-color: yellow;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  margin-top: 5px;
}

#link-btn {
  background: none;
  color: yellow;
  text-decoration: underline;
}
#vids-con{
  margin-bottom: 0;
  background-image: linear-gradient(to bottom, #fffff5, #faf7da, #f8edbe, #f8e3a2, #fad887, #fbd276, #fdcc65, #ffc654, #ffc447, #ffc237, #ffc124, #ffbf00);
}